body {
    font-family: Futura, sans-serif;
    text-align: center;
    width: 100%;
}
  
nav {
    background-color: #E8D7FF;
    padding: 10px;
    margin: -8px;
}

a {
    font-weight: 200;
    text-decoration: none;
    text-transform: lowercase;
    font-family: Helvetica;
    color: #151814;
}

ul {
    text-align: center;
    padding: 0px;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0px 20px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.box {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
  }
  
.box div {
    height: 150px;
    width: 150px;
    align-self: center;
    justify-content: center;
    line-height: 150px;
}   

@media only screen and (max-width: 768px) {

.box {
    display: grid;
    align-items: center;
    justify-content: center;
}

.box div {
    margin: 10px;
    height: 200px;
    width: 200px;
    align-self: center;
    justify-content: center;
    line-height: 200px;
}   
}
